/* https://stackoverflow.com/questions/1776915/how-can-i-center-an-absolutely-positioned-element-in-a-div
*/
.game-menu-dialog {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.game-menu-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: max-content;
    background-color: white;
    margin: auto;
}