.game-menu-dialog {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 16px;
    border: 4px solid black;
    background-color: #ffffff;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.603);
}

.game-menu-backdrop-open {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}

.game-menu-backdrop-closed {
    display: none;
}

.game-menu-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    padding: 1.5em;
}

.game-menu-button {
    width: 15em;
}
