services:
    backend:
        build:
            context: .
            dockerfile: apps/backend/Dockerfile
        ports:
            - '5000:5000'
            - '5080:5080'
    web:
        build:
            context: .
            dockerfile: apps/web/Dockerfile
        ports:
            - '3000:3000'
