.game-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.game-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid #ccc;
    gap: 1em;
}
